<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>当然我在扯淡</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/tailwind.css" rel="stylesheet">
    <link href="/static/header.css" rel="stylesheet">
    <style>
    </style>
</head>

<body>
    <div class="header">
        <div class="left">
            <div style="font-size: 23px;">当然我在扯淡</div>
            <div style="color: #BD8E5D;">首页</div>
        </div>
        <div class="right">
            <div>语言</div>
            <div>颜色</div>
            <div>主题</div>
        </div>
    </div>
    <div class="main">
        <h1>博客文章</h1>
    </div>
    <div class="footer">
        <div>© 2026 Yin Wang. All rights reserved.</div>
    </div>
</body>

</html>
